@page
@model HangilFA.Pages.Admin.DeleteNoticesModel
@{
    ViewData["Index"] = "9";
    //ViewData["SubIndex"] = "11";
}


<div style="padding-top:7em;" />


<div style="width: 80%; margin: auto;">

    <h4 style="margin-bottom:1em; text-align:center; color:#808080;">공지사항 편집 (편집횟수 : @Model.noticesViewModel.ModifyCount 회)</h4>

    <form method="post">

        <div>
            <div class="form-group" style="width:85%; display:inline-block;">
                @*<label asp-for="noticesViewModel.Title" class="control-label"></label>*@
                <input id="input_text" asp-for="noticesViewModel.Title" class="form-control" readonly />
            </div>
            <div class="form-group" style="width:10%; display:inline-block; float:right;">
                <input type="hidden" asp-for="noticesViewModel.Id" class="form-control" />
                <input type="submit" value="Delete" class="btn btn-primary" style="width:150px; display:inline-block;" />
            </div>
        </div>

        <div style="text-align:right; margin:0 0 15px 0;">
            <p style="font-size:15px; color:brown;">Create User : @Model.noticesViewModel.CreateFullname (@Model.noticesViewModel.CreateTime)</p>
            <p style="font-size:15px; color:brown;">Modify User : @Model.noticesViewModel.ModifyFullname (@Model.noticesViewModel.ModifyTime)</p>
            <a asp-page="/Admin/Notices">Back to List</a>
        </div>

        <div id="Noticescontect" style="margin:auto; border:1px solid #808080; min-height:540px; max-height:540px; overflow-y:auto;">
            @Html.Raw(Model.noticesViewModel.RichContent)
        </div>

    </form>
</div>

<script>

    $('input[type="text"]').keydown(function () {
        if (event.keyCode === 13) {
            event.preventDefault();
        };
    });

</script>

